# Eclipse Artifacts #
.settings
.project
.classpath
# Generated Artifacts #
target
bin
*.class
# Package Files #
*.jar
*.war
*.ear
/ds4p-receiver/TestVAWebServices/*
/ds4p-receiver/TestVAWebClient/*
/ds4p-receiver/TestVAWebClientLib/*
/ds4p-receiver/security-tools/*
/ds4p-receiver/DS4PMobilePortal/*
/DS4PVAProviderPortal/*

